.color-1{
    color: crimson;
}
.color-2{
    color: #4B0082;
}
.color-3{
    color: #000;
}
.color-4{
    color: rgba(32, 105, 147, 0.261);
    opacity: 0.75;
}
.color-5{
    color: rgba(231, 57, 13, 0.7);
}