.border-1{
    /* border-width: 2px; */
    /* border-style: solid; */
    /* border-color: brown; */
    border: 2px solid brown;
    /* border-style: dashed; */
    border-radius: 25px;
}

.border-2{
    border-bottom: 2px solid blueviolet;
}

.border-3{
    border-left: 5px solid red;
    background: lightsalmon;
}