a{
    color: #333;
    text-decoration: none;
    /* transition: all .2s; */
}
a:hover{
    color: orange;
    /* font-size: 25px; */
}
/* a:visited{
    color: red;
} */
a:active{
    color: blue;
}
/* .css:hover{
    background-color: #000;
} */
.btn{
    background: #111;
    padding: 10px 15px;
    color: #fff;
    border: 0;
    cursor: pointer;
    border-radius: 10px;
    font-family: inherit;
}
.btn:hover{
    opacity: 0.8;
    color: orange;
}