.list{
    margin: 0;
    padding: 0;
    list-style: none;
}
.list li{
    margin-bottom: 10px;
    border-bottom: 1px solid black;


}
.table{
    width: 100%;
    background: rgba(243, 235, 235, 0.763);
}
td{
    padding: 0;
}
.table td{
    text-align: center;
    padding: 5px 0;
    transition: all .4s;
}
.table td:hover{
    color: rgb(19, 218, 218);
    cursor: pointer;
    font-size: 25px;
    background: yellow;
}
/* .table tr:nth-child(even){
    background: #eee;
} */
/* .table tr:nth-child(odd){
    background: #eee;
} */
.table td:nth-child(2){
    background: orange;
}
.table td:nth-child(4){
    background: orange;
}

.navbar{
    background: lightcoral;
    /* padding: 10px 20px; */
    margin-bottom: 10px;
}
.navbar ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    padding: 0 20px;
}
.navbar ul li{
    margin-right: 10px;
    padding: 10px;
}
.navbar ul li:last-child{
    margin-right: 0;
}
.navbar ul li:hover{
    background: #ea6767;
}